@{
    ViewData["Title"] = "Habilitações Académicas";
}

<!-- OLÁ-->
<section class="page-section mt-lg-4" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Habilitações Académicas</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <p class="lead">

                <div>
                    <br /><br /><br />
                    <h3>Curso em .NET (UPSKILL: Digital Skills & Jobs)</h3>
                    <h4>Instituto Politécnico da Guarda</h4>
                    <h5>Ínicio outubro 2020</h5> <br />

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            A decorrer
                        </div>
                    </div>
                    <div>
                        <br /><br /><br />
                        <h3>Licenciatura em Marketing</h3>
                        <h4>Universidade da Beira Interior</h4>
                        <h5>Concluído em 2011</h5> <br />
                        <div>
                            <br /><br /><br />
                            <h3>Intercultural Studies (ERASMUS)</h3>
                            <h4>Linnaeus University (Växjö, Suécia)</h4>
                            <h5>Janeiro a Junho 2010</h5> <br />


                        </div>


                    </div>
                    </div>
                </div>
        </div>
</section>
