@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav justify-content-end">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mx-0 mx-lg-1">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @User.Identity.Name!</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
<li class="nav-item mx-0 mx-lg-1">
    <table>
        <tr>
            <th><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Usuarios" asp-action="Registo">Registar</a></th>
        </tr>
        <tr>
            <td><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Usuarios" asp-action="Registo">Registar</a></td>
            <td><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="Identity" asp-page="/Account/Login">Login</a></td>
        </tr>
    </table>
    @*<a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Usuarios" asp-action="Registo">Registar</a>*@
    @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registar</a>*@
</li>
    @*<li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>*@
}
</ul>
