@{
    ViewData["Title"] = "Sobre Mim";
}



<!-- OLÁ-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Sobre Mim</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <p class="lead">
                <br />
                Sou um rapaz alegre, divertido e criativo.<br />
                Com forte sentido de humor e sempre pronto para abraçar novos desafios. <br />
                Num contexto profissional, apesar da tenra idade já passei por diferentes projetos e áreas, que me enriqueceram
                profissionalmente e que sem dúvida me trouxeram até aqui. <br />
                Já trabalhei em várias empresas, desde multinacionais a startups. Numas correu tudo bem, noutras...digamos que serviu para aprender e enriquecer-me profissionalmente
                e pessoalmente. Dá uma vista de olhos pela minha <a asp-area="" asp-controller="HabilitacoesAcademicas" asp-action="Index">Experiência Profisional</a> para saberes mais! <br />
                De qualquer forma, agradeço todas as oportunidades que tive e o percurso que fiz, porque foi o que me trouxe até aqui. <br />
                Graças a ele, consegui nos últimos anos, realizar já muitos sonhos, conhecer muitas realidades, fazer muitos contactos, muitos amigos
                e também "passear" pelo Mundo.<br />
                Como se não bastasse, ainda sou pai babado de uma princessa linda chamada Carolina e de um futuro craque da bola chamado Miguel.
            </p>
        </div>
    </div>
</section>

<section id="padfig">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 p-2">
                <img id="myImg" src="../img/austria.jpg" class="img-fluid"
                     alt="Kaprun Austria" title="Kaprun Austria" />
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img id="myImg" src="../img/berlim.jpg" class="img-fluid"
                     alt="ITB Berlin" title="ITB Berlin" />
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/biapt.jpg" class="img-fluid"
                     alt="Conferência AICEP" title="Conferência AICEP" />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/biapt2.jpg" class="img-fluid"
                     alt="bia.pt WebSummit" title="WebSummit - bia.pt " />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/saopaulo.jpg" class="img-fluid"
                     alt="São Paulo" title="São Paulo - Brasil" />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/pampano.jpg" class="img-fluid"
                     alt="Ataque ao Pampano" title="Ataque ao Pampano Boidobra" />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/carol.jpg" class="img-fluid"
                     alt="filha" title="Minha filha Carol" />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/madrid.jpg" class="img-fluid"
                     alt="FIT Madrid" title="FIT Madrid" />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/paris.jpg" class="img-fluid"
                     alt="Paris" title="Paris" />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/tryportugal.jpg" class="img-fluid"
                     alt="tryportugal" title="Web Summit - Try Portugal" />
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <img id="myImg" src="../img/izifun.jpg" class="img-fluid"
                     alt="izifun" title="Izifun" />
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-2">
                <img src="../img/concurso.jpg" class="img-fluid"
                     alt="Jogo de Todos os Jogos" title="Participação no Jogo de Todos os Jogos" />
            </div>

        </div>

    </div>
</section>
<br />
<br />
<br />