@model RegistoUsuarioViewModel

@{
    ViewData["Title"] = "Registo";
}


<!-- OLÁ-->
<section class="page-section mt-lg-4" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Registo</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark mb-5">
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-md-5">
                <form asp-action="Registo">
                    @*ação registo que também está no controlador correspondente*@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmarPassword" class="control-label"></label>
                        <input asp-for="ConfirmarPassword" class="form-control" />
                        <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
