@{
    ViewData["Title"] = "Aptidões e Competências";
}

<!-- OLÁ-->
<section class="page-section mt-lg-4" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Aptidões e Competências</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <br /><br /><br />
        <div class="row">
            <div class="col-md-6 .col-lg-6 .col-sm-6 .col-xl-6">
                <div class="demo-content"></div>
                <h2>Aptidões Línguisticas</h2><br />
                <h5><b>Língua materna:</b> <small>Português</small></h5>
                <br /><br />
                <h5>Outras línguas <small>(Auto-Avaliação)</small></h5>
                <br />

                <div>
                    <table class="table table-bordered">
                        <thead class="thead">
                            <tr>
                                <th id="ocultar"></th>
                                <th>Falado</th>
                                <th>Leitura</th>
                                <th>Escrito</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Inglês</b></td>
                                <td>Muito Bom<p style="color:grey;"><small><i>C1</i></small></p></td>
                                <td>Muito Bom<p style="color:grey;"><small><i>C1</i></small></p></td>
                                <td>Bom<p style="color:grey;"><small><i>B2</i></small></p></td>
                            </tr>
                            <tr>
                                <td><b>Espanhol</b></td>
                                <td>Bom<p style="color:grey;"><small><i>B2</i></small></p></td>
                                <td>Muito Bom<p style="color:grey;"><small><i>C1</i></small></p></td>
                                <td>Básico<p style="color:grey;"><small><i>A2</i></small></p></td>
                            </tr>
                            <tr>
                                <td><b>Francês</b></td>
                                <td>Bom<p style="color:grey;"><small><i>B2</i></small></p></td>
                                <td>Bom<p style="color:grey;"><small><i>B2</i></small></p></td>
                                <td>Bom<p style="color:grey;"><small><i>B2</i></small></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <p style="color:grey;"><small><i>* Nível do Quadro Europeu Comum de Referência (CECR)</i></small></p>
                </div>
            </div>

            <div class="col-md-1 .col-lg-1 .col-sm-1 .col-xl-1">
                <div class="demo-content"></div>
            </div>
            <br />
            <div class="col-md-5 .col-lg-5 .col-sm-5 .col-xl-5">
                <div class="demo-content bg-alt"></div>
                <h2>Competências Técnicas</h2> <br /> <br />
                <div class="bs-example">
                    <h5>C#</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 20%"></div>
                    </div><br />
                    <h5>HTML</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 80%"></div>
                    </div><br />
                    <h5>CSS</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 70%"></div>
                    </div><br />
                    <h5>SQL</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 20%"></div>
                    </div><br />
                    <h5>Photoshop</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 50%"></div>
                    </div><br />
                    <h5>Marketing Digital</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 90%"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>