@model PaginaPessoal_BD.Models.Experiencia

@{
    ViewData["Title"] = "Editar";
}


<!-- OLÁ-->
<section class="page-section mt-lg-4" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Editar registo</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark mb-5">
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-md-7">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ExperienciaId" />
                            <div class="form-group">
                                <label asp-for="NomeEmpresa" class="control-label"></label>
                                <input asp-for="NomeEmpresa" class="form-control" />
                                <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicio" class="control-label"></label>
                                <input asp-for="DataInicio" class="form-control" />
                                <span asp-validation-for="DataInicio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataFim" class="control-label"></label>
                                <input asp-for="DataFim" class="form-control" />
                                <span asp-validation-for="DataFim" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Funcoes" class="control-label"></label>
                                <input asp-for="Funcoes" class="form-control" />
                                <span asp-validation-for="Funcoes" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="fotoFicheiro" class="control-label">Imagem</label>
                                <input name="fotoFicheiro" class="form-control-file" type="file" />
                                <input asp-for="Foto" type="hidden" /> @*Faço um hidden foto porque é preciso passar para aqui a foto, porque se não o fizer depois de editar não me vai aparecer a foto:*@
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary"/>
                                
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 mb-4">
                        @if (Model.Foto != null)
                        {
                            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Foto)" class="img-fluid" />
                        }
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Voltar</a>
                </div>
            </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}